// Variabel
:root {
  --color-primer: #3142ff;
  --color-secondary: #e6e6e6;
  --black: #101913;
}

// Default
* {
  font-family: 'Manrope', sans-serif;
}


// Navbar
.navbar {
  .nav-link {
    background-image: linear-gradient(to right,
        var(--color-primer),
        var(--color-primer) 50%,
        #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 4px 0;
    position: relative;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
  }

  .nav-link:before {
    content: '';
    background: var(--color-primer);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.5s ease-in-out;
  }

  .nav-link:hover::before {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .navbar-profile {
    .img-profile {
      width: 45px;
      height: 45px;
      object-fit: cover;
      object-position: center;
    }

    .username {
      background-image: linear-gradient(to right,
          var(--color-primer),
          var(--color-primer) 50%,
          #000 50%);
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 4px 0;
      position: relative;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
      font-size: 0.9rem;
    }

    .username:before {
      content: '';
      background: var(--color-primer);
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.5s ease-in-out;
    }

    .username:hover::before {
      width: 100%;
    }
  }

}

// Header
#Header {
  .header-title {
    color: #101913;
    text-align: center;
    font-size: 3rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 3.1875rem;
    letter-spacing: 0.01875rem;
    text-transform: capitalize;
  }

  .header-carousel {
    .image-header {
      border-radius: 0.9375rem;
    }
  }
}

// Brand
#Brand {
  margin-top: 5rem;

  .row {
    display: flex;
    padding: 2.125rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background: #F2F2F2;
  }

  .teks-brand {
    color: var(--black, #101913);
    text-align: center;
    font-size: 2rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.01875rem;
  }

  .logo-wrap {
    display: flex;
    padding: 3.125rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    align-self: stretch;
  }

  .logo {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 14px;
  }
}

// LiteCatalog
#LiteCatalog {
  .sub-judul {
    color: var(--black);
    font-size: 1.8rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.01875rem;
    width: 22rem;
  }

  .card-img {
    overflow: hidden;
  }

  .card-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform .4s linear;
  }

  .card-img:hover img {
    transform: scale(1.1);
  }

  .icon-right {
    font-size: 1.3rem;
  }

  .link-catalog {
    color: #000;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    gap: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-catalog::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--color-primer);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .link-catalog:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .link-catalog:hover {
    color: var(--color-primer);
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button {
    display: flex;
    padding: .45rem .90rem;
    border-radius: .45rem;
    color: #fff;
    font-size: .90rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primer);
      border-radius: .45rem;
      z-index: -2;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(#3142ff, 20%);
      transition: all .3s;
      border-radius: .45rem;
      z-index: -1;
    }

    &:hover {
      color: #fff;

      &:before {
        width: 100%;
      }
    }
  }
}

// Article
#Article {
  .doublearticle {
    flex-direction: column;
  }

  .icon-right {
    font-size: 1.5rem;
  }

  .link-article {
    color: #000;
    position: relative;
    text-decoration: none;
  }

  .link-article::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--color-primer);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .link-article:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .link-article:hover {
    color: var(--color-primer);
  }
}

// SectionAbout
#SectionAbout {
  margin-bottom: 4.5rem;

  .container {
    background-color: var(--color-secondary);
    border-radius: 1rem;
  }
}

// Footer{
#Footer {
  background-color: #000;

  h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
  }

  p {
    color: #fff;
    text-align: center;
    font-weight: 400;
  }

  .kontak {
    flex-direction: column;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
    }
  }

  .copyright {
    font-size: .5rem;
    color: var(--color-secondary);
    text-align: center;
  }
}


// DetailHp
#DetailHp {
  .photo {
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
  }

  .rincian {
    .merk {
      display: flex;
      align-items: center;
      gap: .4rem;

      .logo {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
      }
    }

    .nama_hp {
      font-size: 3rem;
      font-weight: 700;
    }

    .harga {
      font-size: 1.6rem;
    }

    .stok {
      font-size: .8rem;
      color: #656671;
    }

    .detail {
      gap: 1rem;
    }

    .button {
      display: inline-block;
      padding: .5rem 4rem;
      border-radius: .45rem;
      color: #fff;
      font-size: .90rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      text-decoration: none;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-primer);
        border-radius: .45rem;
        z-index: -2;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#3142ff, 20%);
        transition: all .3s;
        border-radius: .45rem;
        z-index: -1;
      }

      &:hover {
        color: #fff;

        &:before {
          width: 100%;
        }
      }
    }
  }

}

// Profil